@model IEnumerable<Schema17.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1 class="fw-bold">Supplier Details</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mt-2">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierId" class="btn btn-outline-primary mx-1" pt-4>Edit</a>
                <a asp-action="Details" asp-route-id="@item.SupplierId" class="btn btn-outline-success mx-1">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.SupplierId" class="btn btn-outline-danger mx-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
