@model IEnumerable<Schema17.Models.Newsletter>

@{
    ViewData["Title"] = "Index";
}

<h1 class="fw-bold">News Letters</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mt-2">Add New</a>
</p>
<table class="table table-bordered table-hover">
    <caption>List of Newsletter Registered</caption>
<thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsLetterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsLetterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LetterId" class="btn btn-outline-primary mx-1" pt-4>Edit</a> 
                <a asp-action="Details" asp-route-id="@item.LetterId" class="btn btn-outline-success mx-1">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.LetterId" class="btn btn-outline-danger mx-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
